/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
body {
  background-color: #fff;
}

#particles-js {
  z-index: 0;
}

#center {
  top: 0;
  width: 100%;
  padding: 290px 0px 0px 0px;
  position: absolute;
  z-index: -1;
}

#wave {
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

#wave .bar {
  position: relative;
  background-color: #222222;
  margin-left: 10px;
  width: 3px;
  opacity: .8;
}

#menuContainer {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
}

#menuContainer.active {
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.menu {
  top: 0px;
  left: 0px;
  padding: 15px 0px 0px 10px;
  color: #222222;
  font-size: 30px;
  position: fixed;
  z-index: 3;
}

.menu:hover {
  cursor: pointer;
}

#menuTitle {
  opacity: 0;
  transition: 0.5s;
  font-family: 'Montserrat';
  top: 0px;
  left: 0px;
  padding: 15px 0px 0px 50px;
  color: #222222;
  font-size: 30px;
  position: fixed;
  z-index: 2;
}

#menuTitle.active {
  opacity: 1;
}

.sidenav {
  font-family: 'Montserrat';
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #808080;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ccc;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#titleContainer {
  font-family: 'Montserrat';
  width: 100%;
  top: 0px;
  text-align: center;
  padding: 100px 0px 0px 0px;
  position: absolute;
  z-index: 1;
}

#title {
  color: #222222;
  font-size: 70px;
  transition: 0.5s;
  opacity: 1;
}

#title.active {
  opacity: 0;
}

#taglineContainer {
  top: 0px;
  font-family: 'Montserrat';
  width: 100%;
  text-align: center;
  padding: 500px 0px 0px 0px;
  position: absolute;
  z-index: -1;
}

#tagline {
  color: #6b6b6b;
  font-size: 15px;
}

#scrollContainer {
  bottom: 0px;
  font-family: 'Montserrat';
  width: 100%;
  text-align: center;
  padding: 0px 0px 10px 0px;
  position: absolute;
  z-index: 1;
}

#scrollContainer a {
  text-decoration: none;
}

#scroll {
  color: #6b6b6b;
  font-size: 15px;
}

.fa-angle-down {
  font-size: 20px;
  color: #6b6b6b;
}

#howItWorks {
  font-family: 'Montserrat';
  padding: 50px 50px 0px 50px;
}

#howItWorksTitle {
  font-size: 50px;
  color: #222222;
}
#howItWorksSteps{
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 25px;
  color:#000;
  text-align: center;
  line-height: 30px;
}
#picone{
  visibility: hidden;
}
#pictwo{
  visibility: hidden;
}
#picthree{
  visibility: hidden;
}
.fadeIn {
  -webkit-animation: animat_show 3.5s;
  animation: animat_show 3.5s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

hr {
  border: 0;
  outline: 0;
  background-color: #F5F5F5;
  height: 1px;
  width: calc(100%);
  margin: 10px auto;
  display: block;
}
#emotionButtons{
  display: flex;
  justify-content: space-between;
  padding: 30px 70px 0px 70px;
}
#testTheModel {
  font-family: 'Montserrat';
  padding: 50px 50px 60px 50px;
  height: 150px;
}
#testResult{
  height: 70vh;
}
#testTheModelTitle {
  font-size: 50px;
  color: #222222;
}
#liveTestTitle{
  font-size: 50px;
  color: #222222;
}
#liveTest {
  font-family: 'Montserrat';
  padding: 50px 50px 50px 50px;
  height: 70vh;
}
/* emotion button stuffs */
a{
  text-decoration: none;
}
.btn {
  padding: 1em 1.5em;
  font-size: 2rem;
  font-weight: 300;
  /* margin-right: 40px; */
}

.btn-outline {
  position: relative;
  border: none;
  color: #222222;
  transition: color 0.5s;
}
.btn-outline:hover, .btn-outline:focus {
  background-color: transparent;
  color: #ce001b;
  box-shadow: none;
}
.btn-outline:hover:nth-child(2), .btn-outline:focus:nth-child(2) {
  background-color: transparent;
  color: #b900d6;
  box-shadow: none;
}
.btn-outline:hover:nth-child(3), .btn-outline:focus:nth-child(3) {
  background-color: transparent;
  color: #89b8ff;
  box-shadow: none;
}
.btn-outline:hover:nth-child(4), .btn-outline:focus:nth-child(4) {
  background-color: transparent;
  color: gray;
  box-shadow: none;
}
.btn-outline:hover .btn-outline__line:before,
.btn-outline:hover .btn-outline__line:after, .btn-outline:focus .btn-outline__line:before,
.btn-outline:focus .btn-outline__line:after {
  background-color: #ce001b;
}
.btn-outline:hover:nth-child(2) .btn-outline__line:before,
.btn-outline:hover:nth-child(2) .btn-outline__line:after, .btn-outline:focus:nth-child(2) .btn-outline__line:before,
.btn-outline:focus:nth-child(2) .btn-outline__line:after {
  background-color: #b900d6;
}
.btn-outline:hover:nth-child(3) .btn-outline__line:before,
.btn-outline:hover:nth-child(3) .btn-outline__line:after, .btn-outline:focus:nth-child(3) .btn-outline__line:before,
.btn-outline:focus:nth-child(3) .btn-outline__line:after {
  background-color: #89b8ff;
}
.btn-outline:hover:nth-child(4) .btn-outline__line:before,
.btn-outline:hover:nth-child(4) .btn-outline__line:after, .btn-outline:focus:nth-child(4) .btn-outline__line:before,
.btn-outline:focus:nth-child(4) .btn-outline__line:after {
  background-color: gray;
}
.btn-outline:hover .btn-outline__line--left:before,
.btn-outline:hover .btn-outline__line--right:before, .btn-outline:focus .btn-outline__line--left:before,
.btn-outline:focus .btn-outline__line--right:before {
  height: 100%;
}
.btn-outline:hover .btn-outline__line--left:after,
.btn-outline:hover .btn-outline__line--right:after, .btn-outline:focus .btn-outline__line--left:after,
.btn-outline:focus .btn-outline__line--right:after {
  width: 100%;
}

.btn-outline__line:before, .btn-outline__line:after {
  content: '';
  display: block;
  background-color: #222222;
  position: absolute;
  transition: background-color 0.5s, width 0.5s, height 0.5s;
}
.btn-outline__line--left:before, .btn-outline__line--left:after {
  top: 0;
  left: 0;
}
.btn-outline__line--left:before {
  width: 0.125rem;
  height: 1em;
}
.btn-outline__line--left:after {
  width: 2em;
  height: 0.125rem;
}
.btn-outline__line--right:before, .btn-outline__line--right:after {
  right: 0;
  bottom: 0;
}
.btn-outline__line--right:before {
  width: 0.125rem;
  height: 1em;
}
.btn-outline__line--right:after {
  width: 2em;
  height: 0.125rem;
}

/* play button shit */
.video-play-button {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
  /*flare shadow colour*/
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #7eedf5;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;


  /*button colour*/
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #000000;
  border-radius: 50%;
  transition: all 200ms;
}
  /*highliight button colour*/
.video-play-button:hover:after {
  background-color: #b9b9b9;
}


.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.container{
  display: flex;
  justify-content: space-between;
  padding: 30px 70px 100px 70px;
}

.buttonContainer{
  padding: 130px 0px 0px 140px;
}
/* /////////////button cool stuff////////////// */
.loading-button{
  font-family: 'Montserrat';
  font-size:24px;
  border:none;
  background: #4286f4;
  border-radius:10px;
  color:white;
  height:60px;
  width:150px;
  cursor:pointer;
  transition:0.2s;
  position:relative;
  overflow:hidden;
}
.loading-button:hover span{
  transform: translateY(-3px);
}
.loading-button:focus{
  outline:none;
}

.loading-button span{
  position:absolute;  
  right:32px;
  top:16px;
  transition:0.3s;
    transition-delay:0.1s;
}

.loading-button.loading span{
    top:-50px;
    right:0;
    display:none;
}

.loading-button.success span{
  top:-50px;
}

.loading-button.success{
  pointer-events:none;
}

.loading-button.loading{
  width:60px;
  border-radius:50%;
  animation: bounce 1s infinite;
  pointer-events:none;
}


.loading-button:after{
  position:absolute;
  content: "Done";
  color: transparent;  
  text-shadow: 0 0 0 white;
  display:block;
  top:60px;
  left:40px;
  transition:0.3s;
  transition-delay:0.1s;
}

.loading-button.success:after{
  top:12px;
  left:40px;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    height:60px;
  }
	40% {
    transform: translateY(-30px);
    height:68px;
  }
	60% {
    transform: translateY(-15px);
        height:68px;

  }
}
.predictContainer{
  position: relative;
  padding: 110px 90px 0px 0px;
  text-align: center;
}
#prediction{
  font-family: 'Montserrat';
  font-size:24px;
  width: 150px;
  text-align: center;
  padding-top: 30px;
}

#recordButton{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(179, 39, 39);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#recordButton:hover {
  background-color: #00a000
}

#recordButton:active {
  background-color: #6d0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#stopButton{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}

#stopButton:hover {
  background-color: #a70e0e
}

#stopButton:active {
  background-color: #a70e0e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#column{
  float: left;
  width: 33.33%;
  padding: 0px 0px 40px 0px;
}
#footer{
  bottom: 0;
  font-family: 'Montserrat';
  padding: 0px 50px 0px 50px;
}
#footerContent{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
}
